.latime{
  max-width:1200px;
  margin:auto;
  /* nu mai e nevoie sa scriu display block pt ca e un div si e display block oricum */
  padding:0px 25px;
  box-sizing:border-box;
}
.activ:active{
  color:red;
}